// CBBL®
// Computational Biology and Bioinformatics Laboratory
// Υπολογιστικής Βιολογίας και Βιοπληροφορικής Εργαστήριο
// @author    : Prabhat Kumar [http://prabhatkumar.org/]
// @copyright : Sequømics Corporation [http://sequomics.com/]
